.Rating {

	& .star {
		padding-right: 5px;

		&.filled svg {
			transition: all .3s ease-in-out;
			fill: var(--primary);
		}

		&.editable {
			cursor: pointer;
		}

		& svg:focus {
			outline: none;
			box-shadow: 0 5px 10px rgba(#7653fc, 0.5);
		}
	}

}