.commentForm {
	display: flex;
	flex-direction: column;
	gap: 20px 10px;


	.top {
		display: flex;
		gap: 30px;
		align-items: center;
		flex-wrap: wrap;

	}

	.bot {
		display: flex;
		align-items: center;
		gap: 30px;

		@media (max-width: 768px) {
			flex-direction: column;
			gap: 10px;
			text-align: center;
		}
	}

	.btn {
		width: 148px;
		height: 35px;
	}

	.rating {
		display: flex;
		gap: 20px;
		justify-content: flex-end;
		flex: 1 0 auto;

		@media (max-width: 1005px) {
			justify-content: flex-start;
		}

	}

	.input {
		width: 218px;
		height: 36px;
	}

	.textArea {}

	.caption {
		align-self: center;
	}

}

.success {
	background-color: var(--green-light);
	color: var(--green);
	padding: 20px;
	border-radius: 5px;
	margin-top: 20px;
	position: relative;

	@media (max-width: 560px) {
		padding: 10px;
		font-size: 14px;
		padding-right: 20px;

	}


	&Title {
		font-weight: 700;
	}

	&Icon {
		stroke: var(--green);

	}


}

.closeBtn {
	position: absolute;
	right: 5px;
	top: 5px;
	background-color: transparent;
}

.error {
	background-color: rgba(#da8f8f, 0.5);
	color: var(--red);
	position: relative;
	padding: 20px;
	border-radius: 5px;
	margin-top: 20px;

	@media (max-width: 560px) {
		padding: 10px;
		font-size: 14px;
		padding-right: 20px;

	}

	&Icon {
		stroke: var(--red);
	}
}