.search {
	position: relative;



	.btn {
		position: absolute;
		right: 3px;
		top: 50%;
		transform: translateY(-50%);
		width: 30px;
		height: 30px;
		padding: 7px;
	}
}

.input {
	width: 230px;
	height: 36px;

	@media (max-width: 768px) {
		width: 100%;
	}

}