.menu {
	& .firstLevel {
		margin-top: 20px;
		display: grid;
		grid-template-columns: 24px 1fr;
		gap: 20px;
		align-items: center;
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;

		&:hover,
		&Active {
			color: var(--primary);

			& svg {
				fill: var(--primary);
			}
		}
	}

	& .secondBlock {
		margin-left: 12px;
		padding-left: 32px;
		margin-top: 22px;
		margin-bottom: 29px;

		border-left: 1px solid #dfdfdf;

	}

	& .secondLevel {
		margin-bottom: 10px;
		font-weight: 300;
		font-size: 12px;
		color: var(--gray-dark);
		cursor: pointer;
		text-transform: uppercase;

		&Block {
			overflow: hidden;
		}


	}

	& .thirdLevel {
		font-weight: 500;
		font-size: 14px;
		color: var(--gray-dark);
		display: block;
		margin-bottom: 10px;
		outline-offset: -1px;

		&:hover,
		&Active {
			color: var(--primary);
		}
	}
}